/* CSS for Add Tasks Button*/
.fa-plus{
  margin: .5em;
}

button{
  padding: .40em 1.82em;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;

}

.addTaskBtn {
  /*padding: .75em;*/

  background-color: #E66029;
  color: white;
  border: 2px solid black;
  /*filter: drop-shadow(5px 5px 10px #a1411c);*/
  /*border-right: 5px solid #a1411c;*/
  /*border-bottom: 5px solid #a1411c;*/
  border-radius: 10px;
}

.addTaskBtn:hover {
  background-color: #ff6e32;
}

.addTaskBtn:active {
  background-color: #a8330b;
}

/*CSS For Add Task Modal*/
#addTaskModal {
  margin: auto;
  padding: 2em;
  border-radius: 1em;
  border:none;
  filter: drop-shadow(3px 3px 10px black);
  width: 25vw;
  animation-name: pop-up;
  animation-duration: 0.3s;
}

#addTaskModal::backdrop{
  animation-name: blur-bg;
  animation-duration: 0.3s;
  backdrop-filter: blur(5px);
}

.modal-open{
  overflow: hidden;
}

.modal-header {
  /*border-bottom: 1px solid black;*/
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title{

  font-weight: bold;
  text-align: center;
}

.close-modal-btn{
  padding: 1em;
  cursor: pointer;

}

.close-modal-btn:hover {
  background-color: #ff6e32;
}

.close-modal-btn:active {
  background-color: #a8330b;
}

.modal-content{

}

#task-name, #task-details {
  resize: none;
  margin-bottom: 1em;
  width: 100%;
  text-align: left;
  font-size: inherit;
}

textarea {
  padding: .25em;
}

input[type="text"], input[type="search"] {
  padding: 10px .25em;
}

#new-task-difficulty {
  margin-bottom: 2em;
}

.modal-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/*Modal Animations*/
@keyframes pop-up {
  from {
    scale: 0;
  }

  to {
    scale: 1;
  }
}

@keyframes blur-bg {
  from {
    backdrop-filter: blur(0px);
  }

  to {
    backdrop-filter: blur(5px);
  }
}

.top-bar {
  min-width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.radio-group {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1em;
}

input[type="radio"] {
  width: 20px;
}

/*Media Queries for resizing*/


@media  only screen and (max-width: 665px){
  .modal-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  #addTaskModal {
    height: 50vh;
    width: 50vw;
  }
}

@media  only screen and (max-width: 665px){
  .radio-group {
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-evenly;
    margin-bottom: 1em;
  }
}
