*, html {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  scroll-behavior: smooth !important;
}


section {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}




h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

h2 {
  font-size: 4rem;
  font-weight: 900;
}

h3 {
  font-size: 1.5rem;
  font-weight: 300;
}

h4 {
  font-size: 1rem;
  font-weight: 300;
}

.scroll-arrow {
  font-size: 2.0rem;
}

.scroll-arrow{
  color: orangered;
}

.fa-arrow-down{
  transition: transform 0.5s;
}

.fa-arrow-down:hover {
  transform: translateY(1rem);
}

#middle-section{
  background-color: aqua;
}

#task-section {
  background-color: cornflowerblue;
}
