* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

h2 {
  font-size: 4rem;
  font-weight: 900;
}

h3 {
  font-size: 1.5rem;
  font-weight: 300;
}

h4 {
  font-size: 1rem;
  font-weight: 300;
}

.fa-plus{
  margin: .5em;
}

.addTaskBtn {
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: .75em;
  margin: 3em;
  background-color: #E66029;
  color: white;
  border: none;
  border-right: 5px solid #a1411c;
  border-bottom: 5px solid #a1411c;
}

.addTaskBtn:hover {
  background-color: #ff6e32;
}

.addTaskBtn:active {
  background-color: #a8330b;
}
